*{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

html,head{
    background-color: darkslategrey;
}

#locations{
    padding: 8px 0;
    text-align: center;
    background-color: rgba(255,255,255,0.2);
    width: 400px;
}

#location-list li{
    background-color: rgba(255,255,255,0.2);
    width: 100%;
    height: 50px;
    margin-bottom: 4px;
    text-align: center;
    line-height: 50px;
    position: relative;
}

#location-list li:hover{
    background-color: rgba(255,255,255,0.25);
}

#location-list div{
    float: left;
    margin-left: 32%;
}

#location-list li img {

    float: left;
    height: 25px;
    margin-top: 12px;
    margin-left: 8px;

}

#inventory-wrapper{
    position: absolute;
    background-color: rgba(255,255,255,0.2);
    width: 300px;
}

#inventory{
}

.InvJs li{
    display: inline-block;
    background-color: rgba(255,255,255,0.2);
    list-style: none;
    width: 50px;
    height: 50px;
    margin: 4px;
    text-align: center;
}

.invJs li:hover{
    background-color: rgba(255,255,255,0.25);
}

.InvJs img{
    width: 50px;
    position: absolute;
}